/* ************************************************************************** */
/* angular147 */

body {
    padding: 20px;
    font-family: Arial, sans-serif;
}

/*body {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

li {
    margin: 5px 0;
    padding: 5px;
    background: #f8f8f8;
}

.friends {
    margin-left: 20px;
    width: 330px;
}*/